iterm2/.config/iterm2/AppSupport
iterm2/.config/iterm2/sockets/
ruby/.bundle/cache
vim/.config/vim/autoload/
vim/.config/vim/plugged/
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_history
.DS_Store
.netrwhist
