# Override jasmine before each snippet
snippet bef "before all (js)" !b
before(function() {
	$0
});
endsnippet

# Override jasmine after each snippet
snippet aft "after all (js)" !b
after(function() {
	$0
});
endsnippet

snippet bfe "before each (js)" b
beforeEach(function() {
	$0
});
endsnippet

snippet afe "after each (js)" b
afterEach(function() {
	$0
});
endsnippet

snippet con "context (js)" b
context('${1:description}', function() {
	$0
});
endsnippet
